---
import ProfesorLayout from '../../../../layouts/ProfesorLayout.astro';
---

<ProfesorLayout title="Editar Plan - MiGym">
  <div class="p-6 max-w-7xl mx-auto">
    <h1 class="text-3xl font-bold">Detalle del Plan</h1>
  </div>
</ProfesorLayout>
