---
import AlumnoLayout from '../../layouts/AlumnoLayout.astro';
---

<AlumnoLayout title="Mi Progreso - MiGym">
  <div class="min-h-screen p-6">
    <h1 class="text-2xl font-bold">Evolución</h1>
  </div>
</AlumnoLayout>
