---
import ProfesorLayout from '../../../layouts/ProfesorLayout.astro';
---

<ProfesorLayout title="Importar Alumnos - MiGym">
  <div class="p-6 max-w-xl mx-auto">
    <h1 class="text-3xl font-bold mb-8">Importar desde Excel</h1>
  </div>
</ProfesorLayout>
